#topBarMainDiv{
    background-color: black;
    height:30vh ;
    width: 100vw;
    top: 0;
}

#profile{
    height: 100%;
    width: 10%;
    /* background-color: rgb(255, 192, 229); */
    margin-left: 20%;
    align-items: center;
}

#HODinfo{
    background-color:  rgb(255, 187, 0);
    height: 100%;
    width: auto;
    margin-left: 30%;
    margin-top: 0%;

    
}
