/* #teacherD {
    height: 20%;
    background-color: rgba(68, 152, 161, 0.178);
    width: 100%;
    display: flex;
    align-items: center;
}

#imgT {
    height: 100%;
    width: 10%;
    background-color: blue; 
    margin-top: 1%;
    margin-left: 2%;
} */